.heading{
    display: flex;
    align-items: center;
    align-content: center;
}
.icon{
    width: 64px;
height: 64px;
/* UI Properties */


opacity: 1;
}
.appname{
    width: 289px;
height: 71px;
text-align: left;
font: normal normal normal 64px/71px Palatino;
letter-spacing: 0px;
color: #006238;
opacity: 1;

}
.camera{
    width: 48px;
height: 48px;
/* UI Properties */
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
float: right;
margin-top: -8vh;

}
.card{
   margin-left: 35vw;
}
#card{
    text-align:center;
    border: 3px solid gray;
   width:35vw;
   align-items: center;
   margin-top: 25px;
   border-radius: 15px;
}
#card-header{
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    gap:initial;
    align-items: center;
}
#card-header .name{
text-align: left;
font-weight: bold;
}
#card-header .place{
    color: gray;
}
#dots{
    margin-left: auto;
    margin-right: 15px;
    width:20px;

}
#image>img{
    margin-top: 5px;
    width: 35vw;
    height: 50vh;
}
.card-actions{
    display: flex;
    margin-top: 5px;
}
.card-actions>span{
    margin-left: 15px;
}
#date{
    margin-left: auto;
    margin-right: 15px;
}
#likes{
    text-align: left;
    margin-left: 15px;
    font-size: small;
    color:gray;
    margin-top: 3px;
}
#description{
    text-align: left;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}